{% extends "base.html" %}

{% block title %} Страны мира {% endblock %}

{% block content %}

<body>
     <form class="d-flex" style="margin-top: 30px;" method="post" novalidate enctype="multipart/form-data" action="/">
        {{ form.search_string(type="search", class="search-string") }}
        {{ form.search_btn(type="submit", class="btn btn-warning") }}
     </form>
    {% for item in data %}
    <article class="main-frame">
        <a href="/country/{{ item.name }}">
            <center>
                <p class="article-title">{{ item.name }}</p>
                <img src={{item.flag}} alt="No image found" width="350" height="175">
                <p class="article-capital">{{ item.capital }}</p>
            </center>
        </a>
    </article>
    {% endfor %}
</body>

{% endblock %}
