{% extends "base.html" %}

{% block title %} Викторины {% endblock %}

{% block content %}

<p class="display-1" align="center">Проверь себя</p>
<h3 align="center">(В каждом тесте 10 вопросов)</h3>

<hr color="black" style="margin-top: 40px;">
<form name="myForm" action="/quizzes" method="post">
    <div style="margin-bottom: 20px; margin-top: 20px;" align="center">
        {% for name in parts %}
            {% if name == select %}
                <input type="radio" id="{{name}}" name="parts" value="{{name}}" checked>
                <label for={{name}} class="form-check-label" style="margin-right: 10px;">{{name}}</label>
            {% endif %}
            {% if name != select %}
                <input type="radio" id="{{name}}" name="parts" value="{{name}}">
                <label for={{name}} class="form-check-label" style="margin-right: 10px;">{{name}}</label>
            {% endif %}
        {% endfor %}
    </div>
    <div align="center">
        <input type=submit value='Сохранить изменения' class="btn btn-success">
    </div>
</form>
<hr color="black">

<div class="tasks">
    <div class="right-tasks">
        <a href="/quizzes/flag">
            <article class="frame-for-tasks">
                <img src="static\img\pictures\flag.svg" alt="Not found" width="170px" height="170px" style="margin-right: 110px; margin-top: 40px;">
                <h3 style="margin-right: 170px; margin-top: 20px">Флаг</h3>
            </article></a>
    </div>

    <div class="left-tasks">
        <a href="/quizzes/capital">
            <article class="frame-for-tasks">
                <img src="static\img\pictures\capital.svg" alt="Not found" width="170px" height="170px" style="margin-left: 110px; margin-top: 40px;">
                <h3 style="margin-left: 150px; margin-top: 20px">Столица</h3>
            </article></a>
    </div>

    <div class="left-tasks" style="margin-top: 40px">
        <a href="/quizzes/government">
            <article class="frame-for-tasks">
                <img src="static\img\pictures\government.svg" alt="Not found" width="170px" height="170px" style="margin-left: 110px; margin-top: 40px;">
                <h3 style="margin-left: 90px; margin-top: 20px">Форма правления</h3>
            </article></a>
    </div>

    <div class="right-tasks" style="margin-top: 40px">
        <a href="/quizzes/survive-capital">
            <article class="frame-for-tasks">
                <img src="static\img\pictures\capital.svg" alt="Not found" width="170px" height="170px" style="margin-right: 110px; margin-top: 40px;">
                <h3 style="margin-right: 60px; margin-top: 20px">Марафон Столицы</h3>
            </article></a>
    </div>

    <div class="left-tasks" style="margin-top: 40px; margin-bottom: 50px;">
        <a href="/quizzes/survive-flag">
            <article class="frame-for-tasks">
                <img src="static\img\pictures\flag.svg" alt="Not found" width="170px" height="170px" style="margin-left: 130px; margin-top: 40px;">
                <h3 style="margin-left: 90px; margin-top: 20px">Марафон Флаги</h3>
            </article></a>
    </div>
</div>

{% endblock %}
